.Presentation {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.Presentation div {
  width: 50px;
}

.Presentation p {  
  line-height: 1.6;
  text-align: left;
}

@media (max-width: 600px) {
  .Presentation h1{
    font-size: 3rem;
  }
  .Presentation h2{
    font-size: 2rem;
  }
  .Presentation p {
    max-width: 90%;
  }
}